@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");
/*titles,text-serif*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*logo*/
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap");
/*buttons,text*/
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
/*<>*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 600;
}

:root {
  --back-url: url("../img/forest.jpg");
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

body {
  font-family: Mukta, sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  font-family: "Roboto Slab", serif;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

.text-serif {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-family: "Roboto Slab", serif;
}

.text-bold {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.button {
  margin: 0 auto;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #51b8ff;
  color: #51b8ff;
  height: 50px;
}

.button:hover,
.button:active {
  border: 2px solid #0099ff;
  color: #0099ff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #51b8ff;
}

.logo img {
  width: 50px;
}

.logo__title {
  margin: 0 0 0 7px;
  font-size: 27px;
  letter-spacing: 0.7px;
  font-family: Raleway, sans-serif;
}

.logo:hover,
.logo:active {
  color: #0099ff;
}

.line {
  border-radius: 10px;
  width: 200px;
  height: 3.1px;
  background-color: #51b8ff;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
  .title {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .title {
    font-size: 24px;
  }
  .text-serif {
    padding: 0 7.5px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 22px;
  }
}

.header {
  -webkit-transition: background-image 10s linear;
  transition: background-image 10s linear;
  padding: 20px 0 70px 0;
  background-size: cover;
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-image: var(--back-url),
    -webkit-gradient(linear, left bottom, left top, from(#7025bb), color-stop(52%, #7a24cf));
  background-image: var(--back-url), linear-gradient(0deg, #7025bb 0%, #7a24cf 52%);
  background-blend-mode: multiply;
}

.header__logo {
  margin: -5px 0 0 0;
}

.header__row {
  margin: 0 0 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header__link {
  margin: 0 30px 0 0;
  color: #fff;
  letter-spacing: 0.3px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.header__link_main {
  color: #51b8ff;
  text-decoration: underline;
}

.header__link:last-child {
  margin: 0;
}

.header__link:hover,
.header__link:active {
  color: #0099ff;
}

.header__body {
  color: #fff;
}

.header__title {
  margin: 0 0 40px 0;
  font-size: 40px;
}

.header__line {
  margin: 0 auto 40px auto;
}

.header__text {
  padding: 0 15%;
}

.header__text_1 {
  margin: 0 0 50px 0;
  font-size: 20px;
  line-height: 150%;
}

.header__text_2 {
  opacity: 0;
  overflow: hidden;
  font-size: 20px;
  line-height: 150%;
  height: 0px;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.header__button {
  margin: 0 auto 100px auto;
  width: 200px;
}

.header__switch {
  margin: 0 auto;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__point {
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #51b8ff;
  -webkit-transition: background 1.5s ease-in;
  transition: background 1.5s ease-in;
}

.header__point_0 {
  background: #51b8ff;
}

.header__point:last-child {
  margin: 0;
}

@media (max-width: 992px) {
  .header__link {
    margin: 0 20px 0 0;
  }
  .header__title {
    font-size: 36px;
  }
  .header__text {
    font-size: 18px;
    padding: 0 10%;
  }
  .header__button {
    margin: 0 auto 70px auto;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    position: relative;
  }
  .header__logo {
    position: relative;
    z-index: 11;
  }
  .header__row {
    margin: 0 0 100px 0;
    padding: 0 10%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__logotype {
    position: relative;
    z-index: 5;
  }
  .header__title {
    padding: 0 30px;
    font-size: 32px;
  }
  .header__text {
    font-size: 18px;
    padding: 0 7%;
  }
  .header__menu {
    padding: 75px 0 0 0;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #152e3f;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 10;
  }
  .header__link:first-child {
    margin: 70px 0 25px 0;
  }
  .header__link {
    margin: 0 0 25px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
  }
  .header__burger {
    position: relative;
    z-index: 11;
    display: block;
    width: 30px;
    height: 30px;
  }
  .header__burger span {
    position: absolute;
    top: 14px;
    width: 100%;
    height: 3px;
    background: #0099ff;
  }
  .header__burger:before,
  .header__burger:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #0099ff;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .header__burger.active span {
    display: none;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 13px;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .header__button {
    margin: 0 auto 50px auto;
  }
  .logo__title {
    font-size: 24px;
  }
  .logo__icon img {
    width: 40px;
  }
}

@media (max-width: 450px) {
  .header__row {
    margin: 0 0 70px 0;
    padding: 0 10%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__burger {
    width: 25px;
    height: 25px;
  }
  .header__burger span {
    top: 12px;
  }
  .header__burger.active:before {
    top: 11px;
  }
  .header__burger.active:after {
    bottom: 11px;
  }
  .header__title {
    font-size: 26px;
  }
  .header__text {
    font-size: 16px;
    padding: 0 5%;
  }
  .header__button {
    display: none;
  }
  .logo__title {
    font-size: 22px;
  }
  .logo__icon img {
    width: 35px;
  }
}

.story {
  padding: 70px 25px;
  background-color: #fff;
}

.story__title {
  margin: 0 0 30px 0;
}

.story__text {
  text-align: left;
  color: #888;
}

.story__text p {
  margin: 0 0 15px 0;
}

.story__text img {
  margin: 0 50px 20px 0;
  float: left;
  width: 230px;
  height: 240px;
}

.story__text .story__middle-p {
  margin: 0 0 50px 0;
}

.story__text .story__last-p {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.story__button {
  width: 200px;
}

@media (max-width: 1200px) {
  .story img {
    width: 200px;
    height: 210px;
  }
}

@media (max-width: 992px) {
  .story img {
    width: 180px;
    height: 190px;
  }
}

@media (max-width: 767px) {
  .story {
    padding: 50px 15px;
  }
  .story img {
    margin: 0 20px 10px 0;
    max-width: 160px;
    max-height: 170px;
  }
}

@media (max-width: 450px) {
  .story {
    padding: 40px 5px;
  }
  .story img {
    margin: 0 10px 5px 0;
    width: 120px;
    height: 130px;
  }
}

.video {
  position: relative;
}

.video__button {
  width: 100%;
  padding: 50px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 4;
  position: absolute;
  top: 260px;
  text-align: center;
}

.video__button svg {
  fill: #0099ff;
}

.video__icon {
  border-radius: 50%;
  background: #fff;
  max-width: 120px;
  max-height: 120px;
}

.video__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 4;
  position: absolute;
  letter-spacing: 1px;
  color: #fff;
  font-size: 24px;
  top: 450px;
}

.video__video {
  position: relative;
  width: 100%;
  height: 720px;
}

.video__wrapper {
  -webkit-transition: 1.5s opacity;
  transition: 1.5s opacity;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.7;
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(12%, #1d0c2e), color-stop(52%, #7a24cf));
  background-image: linear-gradient(0deg, #1d0c2e 12%, #7a24cf 52%);
  background-blend-mode: multiply;
}

.video__line {
  -webkit-transition: 1.5s opacity;
  transition: 1.5s opacity;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 60px;
  opacity: 0.9;
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3b0c5a), color-stop(52%, #7a24cf));
  background-image: linear-gradient(180deg, #3b0c5a 20%, #7a24cf 52%);
  background-blend-mode: multiply;
}

.video__line_1 {
  top: 0;
}

.video__line_2 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #3b0c5a), color-stop(52%, #7a24cf));
  background-image: linear-gradient(0deg, #3b0c5a 20%, #7a24cf 52%);
  background-blend-mode: multiply;
  bottom: 0;
}

@media (max-width: 1200px) {
  .video__video {
    height: 620px;
  }
  .video__button {
    top: 210px;
  }
  .video__title {
    top: 400px;
  }
}

@media (max-width: 992px) {
  .video__video {
    height: 560px;
  }
  .video__button {
    top: 180px;
  }
  .video__title {
    top: 370px;
  }
}

@media (max-width: 767px) {
  .video__video {
    height: 500px;
  }
  .video__button {
    top: 150px;
  }
  .video__title {
    font-size: 22px;
    top: 330px;
  }
}

@media (max-width: 450px) {
  .video__video {
    height: 450px;
  }
  .video__button {
    top: 120px;
  }
  .video__title {
    font-size: 20px;
    top: 300px;
  }
}

.expertise {
  background-color: #fff;
}

.expertise__title {
  padding: 70px 0 0 0;
  margin: 0 0 20px 0;
}

.expertise__text-serif {
  margin: 0 0 30px 0;
  padding: 0 15px;
  color: #888;
}

.expertise__line {
  margin: 0 auto 30px auto;
}

.expertise__row {
  padding: 0 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.expertise__column {
  padding: 0 30px;
  width: 33.33%;
}

.expertise__icon {
  margin: 0 auto;
  padding: 40px 0 30px 0;
  text-align: center;
}

.expertise__icon svg {
  fill: #51b8ff;
  max-width: 60px;
  max-height: 60px;
}

.expertise svg:hover,
.expertise svg:active {
  fill: #0099ff;
}

.expertise__subtitle {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.expertise__text {
  margin: 0 0 50px 0;
  color: #888;
}

.expertise__column:nth-child(1) {
  padding: 0 30px 0 0;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
}

.expertise__column:nth-child(2) {
  border-bottom: 2px solid #888;
}

.expertise__column:nth-child(3) {
  padding: 0 0 0 30px;
  border-left: 2px solid #888;
  border-bottom: 2px solid #888;
}

.expertise__column:nth-child(4) {
  padding: 0 30px 0 0;
  border-right: 2px solid #888;
}

.expertise__column:nth-child(6) {
  padding: 0 0 0 30px;
  border-left: 2px solid #888;
}

@media (max-width: 1200px) {
  .expertise__text {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 992px) {
  .expertise__column {
    padding: 0 20px;
  }
  .expertise__column:nth-child(1) {
    padding: 0 20px 0 0;
  }
  .expertise__column:nth-child(3) {
    padding: 0 0 0 20px;
  }
  .expertise__column:nth-child(4) {
    padding: 0 20px 0 0;
  }
  .expertise__column:nth-child(6) {
    padding: 0 0 0 20px;
  }
  .expertise__text {
    margin: 0 0 35px 0;
  }
}

@media (max-width: 767px) {
  .expertise__column {
    width: 50%;
  }
  .expertise__column:nth-child(1) {
    padding: 0 20px 0 0;
    border-right: 2px solid #888;
    border-bottom: 2px solid #888;
  }
  .expertise__column:nth-child(2) {
    padding: 0 0 0 20px;
    border-bottom: 2px solid #888;
  }
  .expertise__column:nth-child(3) {
    padding: 0 20px 0 0;
    border-right: 2px solid #888;
  }
  .expertise__column:nth-child(4) {
    padding: 0 0 0 20px;
    border-bottom: 2px solid #888;
    border-right: none;
  }
  .expertise__column:nth-child(5) {
    padding: 0 20px 0 0;
    border-right: 2px solid #888;
  }
  .expertise__column:nth-child(6) {
    padding: 0 0 0 20px;
    border-left: none;
  }
  .expertise__text {
    margin: 0 0 25px 0;
  }
  .expertise__icon {
    padding: 30px 0 20px 0;
  }
  .expertise__icon svg {
    max-width: 50px;
    max-height: 50px;
  }
}

@media (max-width: 450px) {
  .expertise__column {
    width: 100%;
  }
  .expertise__column:nth-child(1) {
    padding: 0 50px;
    border: none;
    border-bottom: 2px solid #888;
  }
  .expertise__column:nth-child(2) {
    padding: 0 50px;
    border: none;
    border-bottom: 2px solid #888;
  }
  .expertise__column:nth-child(3) {
    padding: 0 50px;
    border: none;
    border-bottom: 2px solid #888;
  }
  .expertise__column:nth-child(4) {
    padding: 0 50px;
    border: none;
    border-bottom: 2px solid #888;
  }
  .expertise__column:nth-child(5) {
    padding: 0 20px 0 0;
    border: none;
    border-bottom: 2px solid #888;
  }
  .expertise__column:nth-child(6) {
    padding: 0 50px;
    border: none;
    border-bottom: 2px solid #888;
  }
  .expertise__text {
    margin: 0 0 15px 0;
  }
  .expertise__line {
    margin: 0 auto 15px auto;
  }
  .expertise__icon {
    padding: 15px 0 20px 0;
  }
  .expertise__icon svg {
    max-width: 45px;
    max-height: 45px;
  }
}

.team {
  padding: 0 0 70px 0;
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/new-york.jpg"),
    -webkit-gradient(linear, left bottom, left top, from(#1d0c2e), color-stop(52%, #7a24cf));
  background-image: url("../img/new-york.jpg"), linear-gradient(0deg, #1d0c2e 0%, #7a24cf 52%);
  background-blend-mode: multiply;
}

.team__title {
  color: #fff;
  padding: 70px 0 0 0;
  margin: 0 0 15px 0;
}

.team__text {
  margin: 0 0 30px 0;
  color: #fff;
}

.team__text_last {
  margin: 70px 0 20px 0;
  padding: 0 15px;
}

.team__line {
  margin: 0 auto 50px auto;
  background-color: #51b8ff;
}

.team__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 15px;
  column-gap: 15px;
}

.team__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.team__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30% 0 100% 0;
  position: relative;
}

.team__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.team__inf {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  border: 2px solid #888;
}

.team__name {
  padding: 0 0 10px 0;
  font-size: 20px;
}

.team__post {
  font-weight: 300;
  font-size: 16px;
}

.team__button {
  margin: 50px auto 0 auto;
  width: 200px;
}

@media (max-width: 767px) {
  .team__row {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr) [2];
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .team__text_last {
    margin: 50px 0 20px 0;
    padding: 0 10px;
  }
}

@media (max-width: 450px) {
  .team__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr) [4];
    grid-template-rows: repeat(4, 1fr);
    row-gap: 50px;
  }
  .team__text_last {
    margin: 30px 0 20px 0;
    padding: 0 5px;
  }
}

.image {
  padding: 0 0 70px 0;
}

.image__row1 {
  padding: 70px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.image__link {
  color: #888;
  font-size: 18px;
}

.image__link:hover {
  color: #51b8ff;
}

.image__link:active {
  color: #0099ff;
}

.image__row2 {
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image__column {
  border: 3px solid #fff;
  position: relative;
  height: 200px;
  width: 16.6667%;
}

.image__column img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.image__add-column {
  display: none;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
}

.image__add-column img {
  height: 100%;
  width: 100%;
}

.image__button {
  width: 200px;
}

@media (max-width: 1200px) {
  .image__column {
    height: 180px;
  }
}

@media (max-width: 992px) {
  .image__row1 {
    padding: 70px 10px 40px 10px;
  }
  .image__column {
    height: 200px;
    width: 25%;
  }
}

@media (max-width: 767px) {
  .image__row1 {
    padding: 70px 20px 30px 20px;
  }
  .image__column {
    height: 200px;
    width: 33.33%;
  }
}

@media (max-width: 600px) {
  .image__row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image__title {
    margin: 0 0 10px 0;
  }
  .image__column {
    height: 225px;
    width: 50%;
  }
}

@media (max-width: 450px) {
  .image__row1 {
    padding: 70px 20px 20px 20px;
  }
  .image__column {
    height: 400px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .image__column {
    height: 350px;
  }
}

@media (max-width: 350px) {
  .image__column {
    height: 300px;
  }
}

@media (max-width: 300px) {
  .image__column {
    height: 270px;
  }
}

.quote {
  background-size: cover;
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-image: url("../img/new-york.jpg"),
    -webkit-gradient(linear, left bottom, left top, from(#1d0c2e), color-stop(52%, #7a24cf));
  background-image: url("../img/new-york.jpg"), linear-gradient(0deg, #1d0c2e 0%, #7a24cf 52%);
  background-blend-mode: multiply;
}

.quote__icon {
  text-align: center;
  padding: 70px 0 30px 0;
}

.quote__icon svg {
  max-width: 50px;
  max-height: 50px;
  fill: #51b8ff;
}

.quote__text {
  margin: 0 0 30px 0;
  padding: 0 15%;
  color: #fff;
  height: 200px;
}

.quote__name {
  text-transform: uppercase;
  padding: 0 0 10px 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.quote__post {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.quote__row {
  padding: 50px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.quote__column {
  margin: 0 10px;
  width: 18%;
  position: relative;
}

.quote__column_right,
.quote__column_left {
  width: 5%;
  font-family: "Hachi Maru Pop", sans-serif;
  color: #fff;
  font-size: 40px;
}

.quote__column_right svg,
.quote__column_left svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.quote__column_left {
  text-align: right;
}

.quote__column_right:hover svg,
.quote__column_left:hover svg {
  fill: #51b8ff;
}

.quote__column_right:active svg,
.quote__column_left:active svg {
  fill: #0099ff;
}

.quote__column img {
  padding: 15%;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.quote__column_3 img {
  padding: 0;
  border: 1px solid #0099ff;
  -webkit-transition: padding 1.5s ease-out;
  transition: padding 1.5s ease-out;
}

.quote__column_right2,
.quote__column_left2 {
  display: none;
}

@media (max-width: 1200px) {
  .quote__row {
    padding: 40px 0 70px 0;
  }
  .quote__text {
    padding: 0 10%;
  }
}

@media (max-width: 992px) {
  .quote__row {
    padding: 35px 0 70px 0;
  }
  .quote__text {
    padding: 0 7%;
  }
}

@media (max-width: 767px) {
  .quote__row {
    padding: 30px 0 70px 0;
  }
  .quote__text {
    padding: 0 5%;
    height: 240px;
  }
}

@media (max-width: 600px) {
  .quote__row {
    padding: 10px 0 70px;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .quote__row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .quote__column {
    margin: 0;
    width: 120px;
  }
  .quote__column_right,
  .quote__column_left {
    display: none;
  }
  .quote__column_right2,
  .quote__column_left2 {
    display: block;
    width: 50px;
    position: relative;
    z-index: 2;
  }
  .quote__column_right2 {
    position: relative;
    right: 20%;
    top: -20px;
  }
  .quote__column_left2 {
    position: relative;
    left: 20%;
    top: -20px;
  }
  .quote__column_3 {
    margin: 20px 0;
  }
  .quote__text {
    padding: 0 3%;
    font-size: 15px;
    height: 240px;
  }
}

@media (max-width: 550px) {
  .quote__column {
    width: 110px;
  }
  .quote__column_right2 {
    right: 18%;
  }
  .quote__column_left2 {
    left: 18%;
  }
}

@media (max-width: 500px) {
  .quote__text {
    padding: 0 2%;
    height: 250px;
  }
  .quote__column {
    width: 100px;
  }
  .quote__column_right2 {
    right: 16%;
  }
  .quote__column_left2 {
    left: 16%;
  }
  .quote__column_3 {
    margin: 15px 0;
  }
}

@media (max-width: 450px) {
  .quote__text {
    padding: 0 1%;
    height: 270px;
  }
  .quote__column {
    width: 90px;
  }
  .quote__column_right2 {
    right: 14%;
  }
  .quote__column_left2 {
    left: 14%;
  }
}

@media (max-width: 400px) {
  .quote__text {
    padding: 0 1%;
    height: 320px;
  }
  .quote__column {
    width: 85px;
  }
  .quote__column_3 {
    margin: 10px 0;
  }
}

@media (max-width: 350px) {
  .quote__text {
    height: 370px;
  }
  .quote__column {
    width: 80px;
  }
  .quote__column_right2 {
    right: 8%;
  }
  .quote__column_left2 {
    left: 8%;
  }
}

.last {
  padding: 0 50px;
}

.last__columns {
  padding: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last__column {
  width: 50%;
}

.form {
  padding: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form__title {
  margin: 0 0 50px 0;
}

.form__input-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 70px 70px 70px 360px 100px;
  grid-template-rows: 70px 70px 70px 360px 100px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  margin: 0 0 25px 0;
  padding: 15px 0 15px 20px;
  min-width: 100%;
  display: block;
  color: #222;
  border: 1px solid #888;
  font-size: 18px;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  border-color: #0099ff;
  background: #badaf0;
}

.form__button {
  padding: 0;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form textarea {
  resize: none;
}

.clients {
  padding: 0 0 0 20px;
}

.clients__title {
  margin: 0 0 15px 0;
  text-align: center;
}

.clients__row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  row-gap: 50px;
}

.clients__column {
  text-align: center;
}

.clients__icon {
  width: 180px;
  height: 90px;
}

.clients__icon:hover {
  fill: #51b8ff;
}

.clients__icon:active {
  fill: #0099ff;
}

@media (max-width: 1200px) {
  .clients__icon {
    width: 170px;
    height: 85px;
  }
}

@media (max-width: 992px) {
  .form__input-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 70px 70px 70px 310px 100px;
    grid-template-rows: 70px 70px 70px 310px 100px;
  }
  .clients__icon {
    width: 150px;
    height: 75px;
  }
  .clients__title {
    margin: 0 0 40px 0;
  }
  .clients__row {
    -webkit-column-gap: 20px;
    column-gap: 20px;
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .last {
    padding: 0 30px;
  }
  .last__columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .last__column {
    padding: 0;
    width: 100%;
  }
  .clients {
    padding: 0 0 70px 0;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}

@media (max-width: 450px) {
  .last {
    padding: 0 20px;
  }
  .clients__icon {
    width: 120px;
    height: 60px;
  }
}

@media (max-width: 350px) {
  .last {
    padding: 0 10px;
  }
  .clients__icon {
    width: 100px;
    height: 50px;
  }
}

.footer {
  padding: 0 50px;
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url("../img/footer.jpg"),
    -webkit-gradient(linear, left bottom, left top, from(#1d0c2e), color-stop(52%, #7a24cf));
  background-image: url("../img/footer.jpg"), linear-gradient(0deg, #1d0c2e 0%, #7a24cf 52%);
  background-blend-mode: multiply;
  color: #fff;
}

.footer__row1 {
  padding: 70px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}

.footer__column:last-child {
  margin: 0;
}

.footer__logo {
  margin: 0 0 15px 0;
}

.footer__title {
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  letter-spacing: 0.5px;
  font-size: 18px;
  text-align: left;
}

.footer__text {
  text-align: left;
}

.footer__inf svg {
  margin: 0 15px 0 0;
  fill: #fff;
  max-width: 20px;
  max-height: 20px;
}

.footer__inf:hover svg {
  fill: #51b8ff;
}

.footer__inf-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__inf-column:first-child {
  margin: 0 0 10px 0;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer__form form {
  width: 100%;
}

.footer__form input {
  margin: 0 0 20px 0;
  padding: 7px 0 7px 15px;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  display: block;
  color: #222;
  border: 1px solid #888;
  font-size: 16px;
}

.footer input:focus {
  border-color: #0099ff;
  background: #badaf0;
}

.footer__button {
  margin: 0 0 0 10px;
  height: 40px;
  width: 20%;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.5);
  border: 1px solid #888;
}

.footer__button svg {
  padding: 7px;
  width: 100%;
  height: 100%;
}

.footer__button:hover {
  background: #201a33;
  border-color: #51b8ff;
}

.footer__button:hover svg {
  fill: #51b8ff;
}

.footer__button:active {
  background: #191524;
  border-color: #0099ff;
}

.footer__button:active svg {
  fill: #0099ff;
}

.footer__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__icon svg {
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #fff;
  fill: #fff;
  width: 35px;
  height: 35px;
}

.footer__icon:hover svg {
  border-color: #51b8ff;
  fill: #51b8ff;
}

.footer__icon:active svg {
  border-color: #0099ff;
  fill: #0099ff;
}

.footer__row2 {
  padding: 70px 0 20px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  justify-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.footer__link {
  margin: 0 40px 0 0;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.footer__link:hover,
.footer__link:active {
  color: #0099ff;
}

.footer__copy {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .footer__row1 {
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 0 30px;
  }
  .footer__row1 {
    grid-auto-flow: row;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 70px 1fr;
    grid-template-rows: 70px 1fr;
    -webkit-column-gap: 50px;
    column-gap: 50px;
  }
  .footer__column:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .footer__column:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__column:nth-child(3) {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer__text_1 {
    display: none;
  }
  .footer__link {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 0 20px;
  }
  .footer__row1 {
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -ms-grid-rows: 50px 1fr;
    grid-template-rows: 50px 1fr;
  }
  .footer__link {
    margin: 0 20px 0 0;
  }
  .footer__link a {
    font-size: 15px;
  }
  .footer__copy {
    position: relative;
    bottom: 1px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 0 10px;
  }
  .footer__row1 {
    padding: 50px 0 0 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 50px 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    row-gap: 20px;
  }
  .footer__column:nth-child(1) {
    position: relative;
    top: 20px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .footer__column:nth-child(2) {
    margin: 0 auto;
    width: 75%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .footer__column:nth-child(3) {
    margin: 0 auto;
    width: 75%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .footer__row2 {
    padding: 50px 0 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__menu {
    margin: 0 auto 30px auto;
  }
  .footer__link {
    margin: 0 40px 0 0;
    font-size: 16px;
  }
  .footer__link:last-child {
    margin: 0;
  }
  .footer__copy {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .footer__column:nth-child(2) {
    width: 90%;
  }
  .footer__column:nth-child(3) {
    width: 90%;
  }
  .footer__link {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 350px) {
  .footer__row2 {
    padding: 30px 0 15px 0;
  }
  .footer__icons svg {
    width: 30px;
    height: 30px;
  }
  .footer__link {
    margin: 0 25px 0 0;
  }
  .footer__link a {
    font-size: 14px;
  }
}
